{% extends "blog/base.html"}

{%block content%}
    {%if "query" in request.GET %}
        <h1>Posts containing "{{query}}":</h1>
        {%for post in posts%}
            <div class="post">
            <div class="title">
                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            </div>
            <div class="date">
                {{ post.published_date }}
           </div>
           <br>
           <div class="text"> 
            {{ post.text|linebreaksbr }}
           </div>
        </div>
        <br>
    {% endfor %}
    {%endblock%}