{% extends 'blog/base.html' %}
{%load thumbnail%}

{% block content %}

    <div class="post">
        {% if user.is_authenticated %}

            <div class="edit-button">
                <a class="btn btn-link" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            </div>

            <div class="delete-button">
                <a class="btn btn-link" href="{% url 'post_delete' pk=post.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
            </div>

        {% endif %}

        <div class="big-title">
            <h2>{{ post.title }}</h2>
        </div>

        {% if post.published_date %}

            <div class="date">
                {{ post.published_date }}
            </div>

        {% endif %}

        <div class="big-image">
            {% thumbnail post.image "100x100" crop="center" as im %}
                <img src="{{ post.image.url }}">
            {% endthumbnail %}
        </div>

        <br>
        <div class="big-text">
            <p>{{ post.text|linebreaksbr }}</p>
        </div>

    </div>

    <hr>

    <div class="add-comment">
        <a href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    </div>

    {% for comment in post.comments.all %}

        {% if user.is_authenticated or comment.approved_comment %}
            <div class="comment">

                <div class="date">{{ comment.created_date }}</div>

            {% if not comment.approved_comment %}

                <a class="btn btn-link" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-link" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                
            {% endif %}
                <div class="comment-author">
                    <strong>{{ comment.author }}</strong>
                </div>

                <div class="comment-text">
                    <p>{{ comment.text|linebreaks }}</p>
                </div>
                
            </div>
        {%endif%}

        {% empty %}

            <p>No comments here yet :(</p>

    {% endfor %}

{% endblock %}