{% extends 'blog/base.html' %}
{%load thumbnail%}

{% block content %}
    <div class="post">
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></sp
an></a>
        {% endif %}
        <h2>{{ post.title }}</h2>
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% thumbnail post.image "100x100" crop="center" as im %}
            <img src="{{ post.image.url }}">
        {% endthumbnail %}
        <br>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}